<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qqbot.mapper.DiceMapper" >
    <resultMap id="DiceLogItem" type="org.qqbot.entity.DiceLogItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="timestamp" property="timestamp" jdbcType="CHAR" />
        <result column="sender_name" property="senderName" jdbcType="CHAR" />
        <result column="sender_id" property="senderId" jdbcType="CHAR" />
        <result column="log" property="log" jdbcType="CHAR" />
    </resultMap>

    <resultMap id="DiceMessageItem" type="org.qqbot.entity.DiceMessageItem">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="receiver_id" property="receiverId" jdbcType="CHAR" />
        <result column="min_threshold" property="minThreshold" jdbcType="INTEGER" />
        <result column="max_threshold" property="maxThreshold" jdbcType="INTEGER" />
        <result column="message" property="message" jdbcType="CHAR" />
    </resultMap>


    <select id="getSenderDiceLog" resultMap="DiceLogItem" >
        SELECT `id`, `timestamp`, `sender_name`, `sender_id`, `log`
	    FROM dice_log
        WHERE `sender_id` = #{senderId}
        ORDER BY `timestamp` DESC
        LIMIT 3
    </select>

    <insert id="insertDiceLog" useGeneratedKeys="true" keyProperty="id"  parameterType="org.qqbot.entity.DiceLogItem" >
        INSERT INTO `dice_log`(`timestamp`, `sender_name`, `sender_id`, `log`)
        VALUE (#{timestamp}, #{senderName}, #{senderId}, #{log})
    </insert>

    <select id="getDiceMessage" resultMap="DiceMessageItem">
        SELECT `id`, `receiver_id`, `min_threshold`, `max_threshold`, `message`
        FROM dice_message
        WHERE `min_threshold` &lt; #{diceResult}
        AND `max_threshold` &gt; #{diceResult}
    </select>

</mapper>